{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Add Category</h1>
        <form method="POST" {% if category %} action="{% url 'update_category' id=category.id %} {% else %} action="{% url 'add_category' %} {% endif %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" {% if category %} value="{{ category.title }}" {% endif %} name="title" id="title" aria-describedby="title">
            </div>
            <h2 class="text-center">Choice product</h2>
            <div class="mb-3">
                <select name="products" id="floatingSelect" class="form-select" multiple aria-label="Floating label select example">
                    {% for product in products %}
                        <option value="{{ product.id }}" {% if category_product %} {% for c_p in category_product %} {% if c_p.product_id == product.id %} selected {% endif %} {% endfor %} {% endif %} >{{ product.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}