{% extends "base.html" %}

{% block content %}
    <div class="container py-4">
        <div class="card w-50 mx-auto">
            <div class="card-header">
                <h4 class="card-title">Employee data</h4>
            </div>
            <div class="card-body">
                <form class="form" role="form" {% if employee %}action="{{ url_for('employee.update_employee', id=id) }}"
                      {% else %}action="{{ url_for('employee.add_employee') }}"{% endif %} method="POST">
                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class='form-control') }}
                        {% for error in form.errors.name %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.position.label }}
                        {{ form.position(class='form-control') }}
                        {% for error in form.errors.position %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.phone.label }}
                        {{ form.phone(class='form-control') }}
                        {% for error in form.errors.phone %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class='form-control') }}
                        {% for error in form.errors.email %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.birthday.label }}
                        {{ form.birthday(class='form-control') }}
                        {% for error in form.errors.birthday %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.company_id.label }}
                        {{ form.company_id(class='form-control') }}
                        {% for error in form.errors.company_id %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    {{ form.submit(class='btn btn-primary') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}