{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>{{ company_name }} STAFF</h1>
  <hr>
  {% for employee in staff %}
    <div class="col-6" id="up">
      <div class="p-3 border bg-light row justify-content-between">
        <div class="my">
          <h5 class="card-title">{{ employee.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ employee.position }}</h6>
        </div>
        <div class="text-muted my">
            <p><b>Phone:</b> {{ employee.phone }}</p>
            <p><b>Email:</b> {{ employee.email }}</p>
            <p><b>Birthday:</b> {{ employee.birthday.strftime('%d-%m-%Y') }}</p>
        </div>
        <div>
          <a href="/delete-employee/{{ employee.id }}" button type="button" class="btn btn-secondary btn-sm">Delete</a>
          <a href="/update-employee/{{ employee.id }}" button type="button" class="btn btn-primary btn-sm">Update</a>
        </div>
      </div>
     </div>
  {% endfor %}
</div>
{% endblock %}